body {
  background: #fafafa;
  overflow: hidden;
}

.tela-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-name {
  font-family: sans-serif;
  font-size: 1.7rem;
  color: #000;
  font-weight: bold;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #e3e3e3;
  padding: 60px;
  border-radius: 25px;
  border: 2px solid #c5c5c5;
}

.input {
  width: 100%;
  border-radius: 6px;
  border: 2px solid #a9a9a9;
  padding: 4px 10px;
}

.name-senha {
  margin-top: 25px;
}

.botao {
  border: none;
  background: #973116;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 25px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
