@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.filtros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}

#filtro-nome {
  text-align: center;
}

.acoes-transacoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.grupo-filtro-tipo {
  display: flex;
  flex-direction: column;
}

select {
  text-align: center;
}

.botao-filtro {
  background: #f7f7f7;
  border: 2px solid #cbcbcb;
  border-radius: 10px;
  padding: 4px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

#selecao-transacao {
  width: 100%;
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 10px;
  display: block;
  font-size: 1rem;
}

#filtrar-receitas {
  color: #087937;
}

#filtrar-despesas {
  color: #d80202;
}

.botao-filtro:hover {
  background: #d4d4d4;
}

#atualizar-contas-botao {
  padding: 4px 12px;
  border: 1px solid #cbcbcb;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s;
}
#atualizar-contas-botao:hover {
  background: #dddddd;
}

div.transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.status-btn {
  border: none;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

/* Botões e links */
.botao-sair,
.btn {
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.botao-sair:hover,
.btn:hover {
  background-color: #eeeeee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 960px; /* Ajuste conforme a necessidade */
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.card {
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #000;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 20px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

h1#balance {
  font-size: 2.8rem;
}

.money.plus {
  color: #0a9142;
  font-weight: bold;
  font-size: 2.8rem;
}

.money.minus {
  color: #c0392b;
  font-weight: bold;
  font-size: 2.8rem;
}

table#transactions {
  text-align: center;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"] {
  border: 1px solid #dedede;
  border-radius: 10px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.botao-atualizar-contas {
  background-color: #f44336; /* Cor vermelha para ação de 'limpar' */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.botao-atualizar-contas:hover {
  background-color: #c73830; /* Cor mais escura no hover */
}

.bloco-saldo,
.inc-exp-container,
.atualizar-contas {
  margin-bottom: 20px;
}

.bloco-saldo {
  text-align: center;
}

p#subtotal {
  font-size: 1.1rem;
  font-weight: 500;
}

.atualizar-contas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.reset-contas {
  font-size: 1.1rem;
  margin: 0px;
  font-weight: bold;
}

.payment-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}

.btn {
  cursor: pointer;
  background-color: #0992c7;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  border-radius: 10px;
}

.btn:hover {
  transform: scale(1.05); /* Efeito de 'pop' ao passar o mouse */
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.transactions li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.transactions li.plus {
  border-right: 5px solid #2ecc71;
}

.transactions li.minus {
  border-right: 5px solid #c0392b;
}

.valor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explicacao {
  font-size: 12px;
}

.explicacao-receitas {
  color: #016d2e;
  font-weight: bold;
}

.explicacao-despesas {
  color: #c0392b;
  font-weight: bold;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

tr.total-row {
  font-size: 1.1rem;
  font-weight: bold;
}

.transactions li:hover .delete-btn {
  opacity: 1;
}

@media (max-width: 390px) {
  .delete-btn {
    left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .acoes-transacoes {
    grid-template-columns: 1fr 1fr; /* Mais espaço em telas menores */
  }

  .filtros {
    grid-template-columns: 1fr; /* Colocar filtros em coluna única em telas pequenas */
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .botao-sair {
    order: -1; /* Coloca o botão acima do título no mobile */
    margin-bottom: 10px;
  }
}
