html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grupo-modulos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 50px;
}

.modulo {
  background: deepskyblue;
  padding: 8px 15px;
  border-radius: 6px;
}

.botao-modulo {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
